.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght'var(--weight-main-text, 410);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: min(100%, var(--width-block-decktop));
  background-color: var(--main-color, #fff);
  border: 2px solid var(--accent-color, #000);
  margin-block-end: 100px;
}

.header_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: var(--accent-font, "PressStart2P", fantasy);
  padding-block: var(--header-padding-block);
  padding-inline: var(--header-padding-inline);
}

.header_title {
  font-size: var(--font-size-title);
}

.header_subtitle {
  font-size: var(--font-size-subtitle);
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.card {
  width: min(100%, var(--width-block-decktop));
  background-color: var(--main-color, #fff);
  border: 2px solid var(--accent-color, #000);
  overflow: hidden;
}

.card_title {
  font-variation-settings: 'wght'var(--weight-title-text, 715);
  font-size: 18px;
  padding: 4px 10px;
  border-bottom: 2px solid var(--accent-color, #000);
}

.card_image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.card_image_contrast {
  filter: contrast(20%);
}

.card_image_saturate {
  filter: saturate(150%);
}

.card_image_invert {
  filter: invert(60%);
}

.card_image_hue-rotate {
  filter: hue-rotate(50deg);
}

.card_image_grayscale {
  filter: grayscale(0.5);
}

.card_image_sepia {
  filter: sepia(80%);
}

.card_image_multiple-filter {
  filter: saturate(120%) hue-rotate(230deg) blur(0.3rem);
}

.label_wrapper {
  position: relative;
  max-height: 696px;
  overflow: hidden;
}

.label_image {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-size: 14px;
  text-transform: uppercase;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  text-shadow:
    -1px 0 var(--color-label-shadow, var(--main-color, #fff)),
    0 1px var(--color-label-shadow, var(--main-color, #fff)),
    1px 0 var(--color-label-shadow, var(--main-color, #fff)),
    0 -1px var(--color-label-shadow, var(--main-color, #fff));
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--color-label-shadow, #fff)) or (-webkit-text-stroke: 1px var(--color-label-shadow, #fff))) {
  .label_image {
    -webkit-text-stroke: 1px var(--color-label-shadow, #fff);
    text-stroke: 1px var(--color-label-shadow, #fff);
    text-shadow: none;
  }
}

.text_block {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_text {
  line-height: 1.17em;
  font-size: 18px;
}

.button_block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding: 0 25px 25px 0;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
  display: block;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 38px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  padding: 7px 0;
}

.button {
  border: 2px solid var(--accent-color, #000);
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button__text {
  font-size: 14px;
  line-height: 0.9;
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-weight: normal;
  position: relative;
  z-index: 2;
  color: var(--main-color, #fff);
  mix-blend-mode: difference;
}

.card__like-button {
  padding: 12.5px 0;
  inline-size: 130px;
  max-block-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button::before {
  content: ' ';
  position: absolute;
  inset: -1px;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.button_footer {
  max-width: 366.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 17px 20px;
  background-color: var(--main-color, #fff);
}

.image_footer {
  width: 22.5px;
  height: 21px;
  color: var(--main-color, #fff);
  mix-blend-mode: difference;
}

.image_footer.big {
  width: 39px;
  height: 39px;
  object-fit: cover;
}

dialog {
  padding: 0;
  border: none;
}

dialig[open] {
  inline-size: min(357px, calc(100vw - 34px));
}

dialog[open] .text_dialog {
  display: grid;
}

.dialog_window {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  max-inline-size: 353px;
  overflow: hidden;
}

.text_dialog {
  width: clamp(261px, calc(15.608rem + 3.005vw), 293px);
  ;
  grid-template-columns: min-content 234px;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.text_footer_diskette {
  text-transform: uppercase;
  line-height: 1.5;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.button_ok {
  inline-size: clamp(16.31rem, calc(15.608rem + 3.005vw), 18.31rem);
  max-block-size: 38px;
  text-transform: uppercase;
  padding: 12.5px 0;
}

@media (width < 376px) {
  .button_footer {
    max-width: 306px;
  }

  .image_footer {
    width: 28px;
    height: 28px;
  }

  .button_footer .button__text {
    white-space: nowrap;
  }

  .dialog_window {
    padding: 30px 40px;
  }
}